* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: rgb(144, 58, 224);
}

img {
  display: block;
  margin: 1.7rem auto;
  width: 15rem;
  height: 15rem;
  border-radius:50%;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.9);
}

.links {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links a {
  font-family: tahoma;
  color: black;
  background: white;
  padding: 12px 2rem;
  margin: 8px 0;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.5s;
}

.links a:hover{
  box-shadow: 8px 8px 12px rgba(0,0,0,0.7)
}

h1 {
  font-family: tahoma;
  color: white;
  text-align: center;
  margin-bottom: 16px;
}
